* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #0E3741;
    position: relative
}

#ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #CB4B16;
    position: absolute;
    transition: 0.1s;
}